PrintConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PrintConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ReceivedSentSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CopyDestinations">
                <xs:complexType>
                  <xs:attribute name="Destination" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ReceivedPrint" type="xs:boolean" use="required" />
            <xs:attribute name="Print" type="xs:boolean" use="required" />
            <xs:attribute name="copyCount" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="PrinterName" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>